# Database
DATABASE_URL="postgresql://username:password@localhost:5432/devmaker3d_blog?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Google Analytics
NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"

# UploadThing
UPLOADTHING_SECRET="your-uploadthing-secret"
UPLOADTHING_APP_ID="your-uploadthing-app-id"